@font-face {
    font-family: 'Myfont';
    src: url('../../fonts/ABACUS2.ttf') format('ttf'),
    url('../../fonts/abacus2.woff') format('woff');
} 

.header,.menue,.title,h1,form,.footer{
    display: none;
}
.ID{    text-align: right;
        font-size: 10px;}
.nonemessage,.messagequestionbutton,.message,.number{
    display: none;
}
.printcontainer{
    display: block;
}
.printmain{
    width: 96%;
    font-size: 0;
}
.mitoritable{
    border-collapse:collapse;
    background-color: white;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: -1px;
}
.No{
    display: block;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-collapse:collapse;
    border: thin solid black;
    font-size: 12px;
}
.main{
    display:block;
    width: 100%;
    font-size: 0;

}
.container{
    display: flex;
    width: 100%;
}


.kaito{
    display: block;
}


.center-vertical{
    border-collapse:collapse;
    border: thin solid black;
    text-align: center;
    vertical-align: top;
    margin-top: -1px;
}

.center-horizontal{
    border-collapse:collapse;
    border: thin solid black;
    text-align:center;
}

.value{
    border-collapse:collapse;
    border: thin solid black;
    text-align: right;
    margin-top: -1px;
}

.subtitle{
    text-align: center;
}

.newpage{
    break-before: page;
}

.answer{
    border-collapse:collapse;
    border: thin solid black;
    color: transparent;
    display: block;
    position: relative;
    z-index: 0;
    font-size: 16px;
    height: 25px;
    margin-top: -1px;
}

input{
    display: none;        
}
.numberanswervalue{
    border-collapse:collapse;
    border: thin solid black;
    font-size: 12px;
    text-align:center;
    vertical-align: middle;
    color: black;
    height: 25px;
    margin-top: -1px;
    padding-inline:10px;
}
.answervalue{
    display: none;
}

.nonpri{
    display: none;
}
.kaigyokuchikazu{
    margin-top: 2px;
    font-size: 10px;
    margin-bottom: 10px;
    line-height: 1.44;
}

.kaigyovalue{
    margin-top: 2px;
    font-size: 0px;
    margin-bottom: 10px;
    line-height: 1.2;
    text-align: right;
    margin-right: 5px;
    font-family: "Myfont";
    padding-inline: 30px 5px;
}
.plus{
    display: none;}
.trp{
    font-size: 12px;
    display: inline-block;
    text-align: right;
    color: transparent;
}
.valueelement{
    font-size: 12px;
    display: inline-block;
}
.answerpage{
    font-size: 12px;
}

/* かけ算 */


.message{
    color: darkgrey;
    margin: 200px;
    font-size: 60px;
}
.nonemessage{
    display: none;
}
.messagequestionbutton{
    color: #fff;
    height: 40px;
    width: 120px;
    border-radius: 100vh;
    border: white;
    background-color: #5ebdf5;
    position: relative;
    bottom: 15px;
    margin: 0 20px;
}
.table{
    display: inline-block;
    font-family: 'Myfont';
    margin: 5px 30px 30px 0;
}
.question{
    display: flex;
    border: solid 1px black;
    margin: -1px;
    line-height: 27px;
    height: 27px;
}
.kakeNo{
    border-right: solid 1px black;
    width: 30px;
    font-size: 17px;
    font-family: auto;
    text-align: center;
}
.ed{
    padding:0 10px 0 30px;
    font-size: 17px;
}
.kakeru{
    width: 30px;
    font-size: 17px;
    font-family: auto;
}
.ing{
    padding:0 10px 0 30px;
    font-size: 17px;
}
.equal{
    font-size: 17px;
}

input[type=checkbox]{
    display:none;
}

.kakeans{
    padding:0 30px 0 50px;
    font-size: 0px;
    font-family: auto;
    color: transparent;
}
.kakeplus{
    font-size: 17px;
    display: none;
}
.kaketrp{
    font-size: 17px;
    color: transparent;
    display: inline-block;
}
.kakeanswer{
    font-size: 17px;
    color: transparent;
    display: inline-block;
}

.printkakeanswer{
    font-size: 17px;
    color: black;
    display: inline-block;
    text-align: right;
}

/* わり算 */

.message{
    color: darkgrey;
    margin: 200px;
    font-size: 60px;
}
.nonemessage{
    display: none;
}
.messagequestionbutton{
    color: #fff;
    height: 40px;
    width: 120px;
    border-radius: 100vh;
    border: white;
    background-color: #5ebdf5;
    position: relative;
    bottom: 15px;
    margin: 0 20px;
}
.table{
    display: inline-block;
    font-family: 'Myfont';
    margin: 0 30px 30px 0;
}
.question{
    display: flex;
    border: solid 1px black;
    margin: -1px;
    line-height: 27px;
    height: 27px;
}
.wariNo{
    border-right: solid 1px black;
    width: 30px;
    font-size: 17px;
    font-family: auto;
    text-align: center;
}
.ed{
    padding:0 10px 0 30px;
    font-size: 17px;
}
.waru{
    width: 30px;
    font-size: 17px;
    font-family: auto;
}
.ing{
    padding:0 10px 0 30px;
    font-size: 17px;
}
.equal{
    font-size: 17px;
}

input[type=checkbox]{
    display:none;
}

.warians{
    padding:0 30px 0 50px;
    font-size: 0px;
    font-family: auto;
    color: transparent;
}
.wariplus{
    font-size: 17px;
    display: none;
}
.waritrp{
    font-size: 17px;
    color: transparent;
    display: inline-block;
}
.warianswer{
    font-size: 17px;
    color: transparent;
    display: inline-block;
}

.printwarianswer{
    font-size: 17px;
    color: black;
    display: inline-block;
    text-align: right;
}